<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<title>Hello There</title>
</head>

<body>

	<div class="content">
		<h1> Below, you can see the HTTP request headers printed out</h1>
		<%- include('partials/HTTPRequestPrint', {headers: headers}) %>
			<p> Standard HTTP requests are stateless, meaning that each request is completely independent of
				the
				others.</p>


			<p> Click <a href="/differentRequests">here</a> to get a better understanding of HTTP</p>
			<p> Click <a href="/input">here</a> to see how to get user input</p>

	</div>
</body>

</html>